body{
    font-family: 'Ubuntu', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */

@media (min-width:454px){
    .navbar{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width:576px){
    .navTitle{
        font-size: 16px;
    }
}

.logo-nav{
    max-width: 70px;
}


@media (max-width:767px){
    .dropdown-item::before{
        transform: rotate(-90deg);
    }
}

.navbar{
    background: #fff;
}

/*  Footer */

.fter{
    text-align: center;
    line-height: 40px;
}

footer{
    background: #343a40;
    padding: 40px;
    margin-top: 150px;  
}

@media (min-width:1399px){
    footer{
        margin-top: 160px;
    }
}
footer a{
    color: #f8f9fa!important
}

/* Slides */
.container-image{
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flexbox;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.swiper{
    width: 87%;
    height: fit-content;
}

.swiper-slide img{
    width: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #fff;
}

.iatreio{
    color: #53585a;
    margin-bottom: 40px;
    text-align: center;
}

#time-office{
    margin-left: 80px;
    padding-top: 150px;
    color: #53585a;
}

@media (max-width:991px){
    #time-office{
    margin-left: 50px;
    padding-top: 150px;
}
}

/*
@media only screen and (max-width: 354px) {
    .timetable{
      display: none;
    }
  }
*/

/* Header */

@media (min-width:1350px){
    .header{
        min-height: 600px;
    }  
    
}

@media (min-width:767px){
    .header-text{
        font-size: 3vw;
    }
}

@media (max-width:767px){
    .header-text{
        font-size: 6vw;
    }
}

  .header{
    height:500px;
    background-image: url(images/hc1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 30%;
    position: relative;
    text-align: center;
    color: white;
  }

  .header-text{
    position: absolute;
    top: 65%;
    left: 12%;
    color: #53585a;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(0 0 4px #9b9da2);
}

.days,.morming,.afternoon{
    width: 100px;
}



@media (max-width:767px){
    .timetable{
        padding-top: 30px;
    }
}

@media (min-width:1199px) and (max-width:1399px){
    footer{
        margin-top: 300px;
    }
}

@media (min-width:1400px){
    footer{
        margin-top: 500px;
    }
}