*{
    margin: 0;
    padding: 0; 
}

body{
    font-family: 'Ubuntu', sans-serif;
}

/* Navbar */

@media (min-width:454px){
    .navbar{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width:576px){
    .navTitle{
        font-size: 16px;
    }
}

.logo-nav{
    max-width: 70px;
}


@media (max-width:767px){
    .dropdown-item::before{
        transform: rotate(-90deg);
    }
}

.navbar{
    background: #fff;
}

/* Main Page */

.card-img{
    height: 200px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

h1{
    text-align: center;
    margin: 150px auto auto;
    color: #53585a;
}

h4{
    color: #53585a;
    margin: auto;
}

hr{
    margin-bottom: 50px;
}

#card-cont{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 300px;
    height: 300px;
    margin: 55px;
    border-radius: 12px;
    transition:  0.4s; 
}

.card2{
    height: 370px;
}
.card h4{
    padding: 10px;
    text-align: center;
}

.card p{
    padding: 10px;
}

.card a{
    color: #fff;
    background-color: #343a40;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: auto 50px 50px;
    text-decoration: none;
    transition:  0.6s; 
}






/* Header */

@media (min-width:1350px){
    .header{
        min-height: 600px;
    }  
    
}

@media (min-width:767px){
    .header-text{
        font-size: 3vw;
    }
}

@media (max-width:767px){
    .header-text{
        font-size: 6vw;
    }
}

  .header{
    height:500px;
    background-image: url(images/hc1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80% 30%;
    position: relative;
    text-align: center;
    color: white;
  }

  .header-text{
    position: absolute;
    top: 65%;
    left: 12%;
    color: #53585a;
    filter: brightness(120%);
    filter: contrast(120%);
    filter: drop-shadow(0 0 4px #9b9da2);
}

/*  Footer */

.fter{
    text-align: center;
    line-height: 40px;
}

footer{
    background: #343a40;
    padding: 40px;
    margin-top: 150px;
   
}

footer a{
    color: #f8f9fa!important
}
